/*Navigation bar style */
nav { /*this centers the navigation links to center of container*/
    text-align: center;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li {/*removes list points, aligns the elements in the same line,
and adds padding to the navigation links*/
    display: inline-block;
    text-align: center;
    padding: 60px;
    padding-top: 0%;
    padding-bottom: 0%;
}
/*Navigation bar style*/
/*---------------------*/

/*features1 style*/

.features1 {
    display: flex;
    justify-content: center;
    padding: 2%;
}

.feat1 {
    max-width: 300px;
    margin: 1%;
}

.icon {
    max-width: 58px;
    max-height: 458px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.feat-title {
    text-align: center;
}

.feat-paragraph {
    text-align: center;
}
/*features1 style*/
/*---------------------*/

/*features2 style*/

.features2 {
    background-color: #191B28;
    display: flex;
    justify-content: center;
    padding: 2%;
    padding-top: 4%;
    margin: -15px;
}

.feat2 {
    max-width: 900px;
    margin: 1%;
}

.feat-title2 {
    text-align: center;
    color: #2892EB;
}

.feat-paragraph2 {
    text-align: center;
    color: white;
}
/*features2 style*/
/*---------------------*/

/*chars1 style*/
.chars1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chars-text1 {
    max-width: 30%;
    margin: 1%;
    padding: 5%;
}

.chars-img1 {
    max-width: 70%;
    margin: 1%;
}

.char-img {
    max-width: 140%;
}
/*---------------------*/

/*chars2 style*/
